
html{
 font-family: :helvetica, sans-serif;

}
body{
	background-color: #555555;
}
/*.main{
	background-color: #FFF;
	width: 940 px;
	height: 800 px;
	margin: 60px 15px 20px 30px;
	margin: 0 auto;
	position: relative;
}*/
.square{
	height: 100px;
	width: 100px;
	background-color: blue;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);


}
header{
 color: #ffffff;


}
h1, h3{
	margin: 0;

}
h3{
	opacity: 50%;
}
nav ul{
	display: flex;
	list-style:none;
	padding: : 0;
	justify-content: space-around;

}

nav {

	background-color: #FF7D00;
}
nav ul li{

	display: inline;
	color #ffffff;
	font-weight: bold;
}
nav a {
	color: #ffffff;
	padding: 15px;
}