
html{
 font-family: :Helvetica, sans-serif;

}
body{
	background-color: #555555;
}
.main{
	/*background-color: #FFF;*/
	width: 940 px;
	height: 600 px;
	margin: 10px 15px 20px 30px;
	margin: 0 auto;
	position: relative;
}
/*.square{
	height: 100px;
	width: 100px;
	background-color: blue;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);


}*/
header{
 color: #ffffff;


}
h1, h3{
	margin: 0;

}
h3{
	opacity: 0.5;
}
nav ul{
	display: flex;
	list-style:none;
	padding: : 0;
	justify-content: space-around;

}

nav {

	background-color: #FF7D00;
	padding: 4px;
}
nav ul li{

	/*display: inline;*/
	color: #ffffff;
	font-weight: bold;
}
nav a {
	color: #ffffff;
	padding: 15px;
}

.paragraph{
	float: left;
	background-color: #fffffa;
	border: 0px solid #ccc;
	padding: 0;
	margin: 0;
	height: 500px;
	width: 730px;
}

p {
	color: black;
	margin: 5px;
	text-align: justify;
}
.paragraph, h1, a{
	color: #FF962A;
}
.lista{
	float: right;
	background-color: #ffffff;
	border: 0px solid #ffffff;
	height: 500px;
	width: 210px;
}
dt{
	color: #FF962A;
	margin: 2px;
	font-size: 14px;
}
h4{
	color: #555555;
	margin: 5px;
}
.final{
	color: #ffffff;
	text-align: center;
}
